<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scales</key>
	<array>
		<dict>
			<key>limit</key>
			<integer>60</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Akkurat nå</string>
				<key>future</key>
				<string>Akkurat nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Akkurat nå</string>
				<key>future</key>
				<string>Akkurat nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3600</integer>
			<key>scale</key>
			<integer>60</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Et minutt siden</string>
				<key>future</key>
				<string>Et minutt fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d minutter siden</string>
				<key>future</key>
				<string>%d minutter fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>86400</integer>
			<key>scale</key>
			<integer>3600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>En time siden</string>
				<key>future</key>
				<string>En time fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d timer siden</string>
				<key>future</key>
				<string>%d timer fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>604800</integer>
			<key>scale</key>
			<integer>86400</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>En dag siden</string>
				<key>future</key>
				<string>En dag fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d dager siden</string>
				<key>future</key>
				<string>%d dager fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>2629800</integer>
			<key>scale</key>
			<integer>604800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>En uke siden</string>
				<key>future</key>
				<string>En uke fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d uker siden</string>
				<key>future</key>
				<string>%d uker fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>31557600</integer>
			<key>scale</key>
			<integer>2629800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>En måned siden</string>
				<key>future</key>
				<string>En måned fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d måneder siden</string>
				<key>future</key>
				<string>%d måneder fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3155760000</integer>
			<key>scale</key>
			<integer>31557600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Et år siden</string>
				<key>future</key>
				<string>Et år fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d år siden</string>
				<key>future</key>
				<string>%d år fra nå</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
