<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scales</key>
	<array>
		<dict>
			<key>limit</key>
			<integer>60</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Akkurat nå</string>
				<key>future</key>
				<string>Akkurat nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Akkurat nå</string>
				<key>future</key>
				<string>Akkurat nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3600</integer>
			<key>scale</key>
			<integer>60</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Rundt et minutt siden</string>
				<key>future</key>
				<string>Rundt et minutt fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Rundt %d minutter siden</string>
				<key>future</key>
				<string>Rundt %d minutter fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>86400</integer>
			<key>scale</key>
			<integer>3600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Rundt en time siden</string>
				<key>future</key>
				<string>Rundt en time fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Rundt %d timer siden</string>
				<key>future</key>
				<string>Rundt %d timer fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>604800</integer>
			<key>scale</key>
			<integer>86400</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Rundt en dag siden</string>
				<key>future</key>
				<string>Rundt en dag fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Rundt %d dager siden</string>
				<key>future</key>
				<string>Rundt %d dager fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>2629800</integer>
			<key>scale</key>
			<integer>604800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Rundt en uke siden</string>
				<key>future</key>
				<string>Rundt en uke fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Rundt %d uker siden</string>
				<key>future</key>
				<string>Rundt %d uker fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>31557600</integer>
			<key>scale</key>
			<integer>2629800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Rundt en måned siden</string>
				<key>future</key>
				<string>Rundt en måned fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Rundt %d måneder siden</string>
				<key>future</key>
				<string>Rundt %d måneder fra nå</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3155760000</integer>
			<key>scale</key>
			<integer>31557600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Rundt et år siden</string>
				<key>future</key>
				<string>Rundt et år fra nå</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Rundt %d år siden</string>
				<key>future</key>
				<string>Rundt %d år fra nå</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
