<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scales</key>
	<array>
		<dict>
			<key>limit</key>
			<integer>60</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Just now</string>
				<key>future</key>
				<string>Just now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Just now</string>
				<key>future</key>
				<string>Just now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3600</integer>
			<key>scale</key>
			<integer>60</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>1 minute ago</string>
				<key>future</key>
				<string>1 minute since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d minutes ago</string>
				<key>future</key>
				<string>%d minutes since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>86400</integer>
			<key>scale</key>
			<integer>3600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>1 hour ago</string>
				<key>future</key>
				<string>1 hour since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d hours ago</string>
				<key>future</key>
				<string>%d hours since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>604800</integer>
			<key>scale</key>
			<integer>86400</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Yesterday</string>
				<key>future</key>
				<string>Tomorrow</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d days ago</string>
				<key>future</key>
				<string>%d days since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3024000</integer>
			<key>scale</key>
			<integer>604800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Last week</string>
				<key>future</key>
				<string>Next week</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d weeks ago</string>
				<key>future</key>
				<string>%d weeks since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>31557600</integer>
			<key>scale</key>
			<integer>2629800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Last month</string>
				<key>future</key>
				<string>Next month</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d months ago</string>
				<key>future</key>
				<string>%d months since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>315576000</integer>
			<key>scale</key>
			<integer>31557600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Last year</string>
				<key>future</key>
				<string>Next year</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d years ago</string>
				<key>future</key>
				<string>%d years since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>63115200000</integer>
			<key>scale</key>
			<integer>315576000</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Last century</string>
				<key>future</key>
				<string>Next century</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>%d centuries ago</string>
				<key>future</key>
				<string>%d centuries since now</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
