<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scales</key>
	<array>
		<dict>
			<key>limit</key>
			<integer>60</integer>
			<key>scale</key>
			<integer>1</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>Just now</string>
				<key>future</key>
				<string>Just now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>Just now</string>
				<key>future</key>
				<string>Just now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3600</integer>
			<key>scale</key>
			<integer>60</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>About a minute ago</string>
				<key>future</key>
				<string>About a minute since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>About %d minutes ago</string>
				<key>future</key>
				<string>About %d minutes since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>86400</integer>
			<key>scale</key>
			<integer>3600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>About an hour ago</string>
				<key>future</key>
				<string>About an hour since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>About %d hours ago</string>
				<key>future</key>
				<string>About %d hours since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>604800</integer>
			<key>scale</key>
			<integer>86400</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>About a day ago</string>
				<key>future</key>
				<string>About a day since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>About %d days ago</string>
				<key>future</key>
				<string>About %d days since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>2629800</integer>
			<key>scale</key>
			<integer>604800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>About a week ago</string>
				<key>future</key>
				<string>About a week since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>About %d weeks ago</string>
				<key>future</key>
				<string>About %d weeks since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>31557600</integer>
			<key>scale</key>
			<integer>2629800</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>About a month ago</string>
				<key>future</key>
				<string>About a month since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>About %d months ago</string>
				<key>future</key>
				<string>About %d months since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>315576000</integer>
			<key>scale</key>
			<integer>31557600</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>About a year ago</string>
				<key>future</key>
				<string>About a year since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>About %d years ago</string>
				<key>future</key>
				<string>About %d years since now</string>
			</dict>
		</dict>
		<dict>
			<key>limit</key>
			<integer>3155760000</integer>
			<key>scale</key>
			<integer>315576000</integer>
			<key>singularForm</key>
			<dict>
				<key>past</key>
				<string>About a century ago</string>
				<key>future</key>
				<string>About a century since now</string>
			</dict>
			<key>pluralForm</key>
			<dict>
				<key>past</key>
				<string>About %d centuries ago</string>
				<key>future</key>
				<string>About %d centuries since now</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
